{% extends "semillas/base_semilla.html" %}
{% load static %}
{% block contenido %}
<header class="main-header">
    <h1 class="text-center titulo">{% if semilla.pk %}Editar{% else %}Nueva{% endif %} Semilla</h1>
</header> 
<a href="{% url 'semilla_list' %}" class="btn btn-outline-primary">
    <ion-icon name="close-circle-outline"></ion-icon>
    Cancelar
</a>
    {% if not ubicaciones %}
        <p>No hay ubicaciones disponibles. <a href="{% url 'ubicacion_new' %}">Crear una ubicación</a></p>
    {% endif %}

    <div class="d-flex justify-content-center pt-2">
    <form method="POST" action="" class="form-control text-center w-50 p" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-floating mb-1">
            <input type="text" name="variedad" id="id_variedad" value="{{ semilla.variedad }}" required placeholder="Variedad" class="form-control">
            <label for="id_variedad" class="form-label">Variedad:</label>
        </div>
        <div class="form-floating mb-1">
            <input type="text" name="origen" id="id_origen" value="{{ semilla.origen }}" required placeholder="Origen" class="form-control">
            <label for="id_origen" class="form-label">Origen:</label>
        </div>
        <div class="form-floating mb-1">
            <textarea name="caracteristicas" id="id_caracteristicas" required class="form-control" placeholder="Características">{{ semilla.caracteristicas }}</textarea>
            <label for="id_caracteristicas" class="form-label">Características:</label>
        </div>
        <div class="form-floating mb-1">
            <input type="number" name="precio" id="id_precio" value="{{ semilla.precio }}" required placeholder="Precio" class="form-control">
            <label for="id_precio" class="form-label">Precio:</label>
        </div>
        <div class="form-floating mb-1">
            <input type="number" name="cantidad_disponible" id="id_cantidad_disponible" value="{{ semilla.cantidad_disponible }}" required placeholder="Cantidad Disponible" class="form-control">
            <label for="id_cantidad_disponible" class="form-label">Cantidad Disponible:</label>
        </div>
        <div class="form-floating mb-1">
            <select name="ubicacion" id="id_ubicacion" required class="form-select">
                {% for ubicacion in ubicaciones %}
                    <option value="{{ ubicacion.id }}" {% if semilla.ubicacion.id == ubicacion.id %}selected{% endif %}>{{ ubicacion.contacto }}</option>
                {% endfor %}
            </select>
            <label for="id_ubicacion" class="form-label">Ubicación:</label>
        </div>
        <div class="form-floating mb-1">
            <input type="file" name="foto" id="id_foto" accept="image/*" class="form-control">
            <label for="id_foto" class="form-label">Foto:</label>
        </div>

        <button type="submit" class="btn btn-outline-dark">{% if semilla.pk %}Guardar cambios{% else %}Agregar semilla{% endif %}</button>
    </form>
</div>
    
{% endblock %}
