{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre Nosotros{% endblock %}

{% block contenido %}

<section>



  <div class="marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static  'img/Mision.webp' %}"
          role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2 class="fw-normal">Mision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam excepturi sed necessitatibus, voluptate rerum
          nesciunt! Esse, error inventore deleniti impedit ipsam nam asperiores ea quam harum voluptas explicabo
          dolorum! Culpa.</p>
        </br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static  'img/vision.webp' %}"
          role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2 class="fw-normal">Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ullam repudiandae animi ut, quis,
          veritatis nostrum officiis perspiciatis architecto dolores numquam a placeat est atque tempore impedit magni
          aperiam sint?</p>
        <br>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static  'img/metas.png' %}"
          role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2 class="fw-normal">Metas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aliquam temporibus assumenda aspernatur
          expedita molestias ipsam doloribus laboriosam vitae reiciendis consectetur fugit numquam nulla, velit mollitia
          quasi totam placeat perspiciatis?.</p>
        <br>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">NUESTRO OBJETIVO...</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore dicta necessitatibus doloribus
          nemo dolorum, non illum vitae cumque at reiciendis hic a provident repellat architecto, in consectetur, quam
          possimus soluta Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio aperiam exercitationem,
          non quae ratione nisi molestiae. Nam impedit eum laboriosam voluptates. Cupiditate vitae fugiat tenetur,
          exercitationem amet aliquid itaque quis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos,
          perferendis quia, rem qui aliquid dolore ratione repellendus laboriosam minima modi possimus iste, id ea error
          vel velit. Fuga, optio consectetur!</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="{% static  'img/viejito.jpg' %}" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">CONOCENOS MAS:</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas ut, sint autem harum odit
          veritatis maiores. Vel, exercitationem voluptates sequi sed, officia libero vero recusandae magnam quia,
          labore aperiam aut! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam mollitia repellendus
          non illo aliquid odit iste consequatur consequuntur rerum error quae, consectetur libero ipsam. Error,
          reprehenderit. Quae maxime dolores amet. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi aut
          enim voluptas natus possimus dolorum, nostrum eius tempora cupiditate, odio quas ab ea consequatur dignissimos
          cumque! Expedita, reprehenderit. Facilis, ea? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Suscipit voluptatum illo eligendi odio veniam ad vitae id ipsam nemo consequuntur cumque, itaque voluptatem
          iste iure? Unde pariatur perferendis iste voluptas.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="{% static  'img/semilla.avif' %}" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

      </div>
    </div>
  </div>
</section>
{% endblock %}