@font-face {
  font-family: 'VinaSans-Regular';
  src: url('/static/fonts/VinaSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Signika-Regular';
  src: url('/static/fonts/Signika-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
    margin: 0;
    font-family: 'Signika-Regular', sans-serif; 
    font-size: large;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-family: 'VinaSans-Regular' !important;
    letter-spacing: 2px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section {
    flex: 1;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-left: 10px;
    padding: 30px;
  }

  aside {
    flex: 0 0 200px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  @media (max-width: 600px) {
    main {
      flex-direction: column;
    }
  }
